body p {
  font-family: "Poppins", sans-serif;
}
body {
  font-family: "Poppins", sans-serif;
}
.navigation img {
  width: 70px;
  background-color: black;
}
.navigation {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
}
.hero {
  height: 90vh;
  width: 100%;
  position: relative;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/Images/shopping\ mall2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.text-box {
  color: white;
  max-width: 600px;
}
.text-box h1 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;

  text-align: center;
  max-width: 600px;
}
ul {
  display: flex;
  margin: 0;
}
a {
  color: black;
  text-decoration: none;
  padding: 15px;
  justify-content: right;
  border: black;
}
.shop-dropdown {
  padding-top: 15px;
}
.clicktoseemore {
  color: black;
}
.clicktoseemore {
  color: black;
}
a:hover {
  color: #d3a062;
}
a:active {
  color: red;
}
.nav-link:hover {
  color: #d3a062;
}
.homepage-p {
  color: burlywood;
  text-align: center;
}
li {
  list-style: none;
  justify-content: end;
}
.homepage-button {
  background-color: #2a9d8f;
  color: white;
  padding: 15px 30px;
  border-radius: 8px;
  border: none;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}
.shoppp {
  margin-bottom: -10px;
}
.homepage-button:hover {
  background-color: #21867d;
}
.dropdown {
  margin-top: -8px;
}
.catalogue {
  display: flex;
}
.shoe-title {
  background-color: #ebe6e0;
}
.shoeforlady {
}
.shoeforlady:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.card-img-top {
  height: 250px; /* you can adjust this to 200px, 300px depending on your design */
  object-fit: cover;
  width: 100%;
  border-radius: 10px; /* optional, to make it look softer */
}
